body {
    font-family: Lucida Grande;
    min-width: 400px;
    text-align: center;
    justify-content: center;
    display: flex;
}  

.board > div {
    width: 100px;
    height: 100px;
    border: 1px solid grey;
    float: left;
    margin: 15px;
}
.gamePanel {
    height: 400px;
    width: 400px;
    border: 1px solid black;
}